section
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img
{
    width: 15%;
    position: relative;
    margin-top: 100%;
    margin-bottom: auto;
}