#loader 
{
    display: flex;
    position: relative;
    flex-direction: column;
    background-image: url("../images/loading.png");
    overflow: hidden;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 50%;
    height: 90vh;
    width: 100px;
    margin: auto;
    transform-origin: center;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

#mainPage
{
    display: none;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#english
{
    font-weight: 400;
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 100%;
    color: rgb(142, 142, 142);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 8px;
    left: -8px;
}

#wording
{
    display: block;
    background-image: url("../images/wwording.png");
    background-repeat: no-repeat;
    background-size: 440px 441px;
    background-position: 0px -129px;
    margin: 22px auto 12px;
    width: 175px;
    height: 65px;
    overflow: hidden;
    position: relative;
    top: 16px;
    left: -8px;
}

#firstLabel
{
    display: flex;
    height: 36px;
    -webkit-box-flex: 1;
    flex: 1 0 0;
    padding: 0;
    position: relative;
    margin: 0;
    min-width: 0;
    vertical-align: baseline;
    border: 0;
    font: inherit;
    cursor: default;

}

#username
{
    background: #fafafa;
    border: 0;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    margin: 0;
    outline: 0;
    overflow: hidden;
    padding: 9px 0px 7px 8px;
    text-overflow: ellipsis;
    -webkit-appearance: none;
    margin-left: 65px;
    margin-right: 65px;
}

#usernamePass
{
    color: rgb(142, 142, 142);
    font-size: 12px;
    height: 36px;
    left: 75px;
    line-height: 36px;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-overflow: ellipsis;
    transform-origin: left;
}