#loader {
    display: flex;
    position: relative;
    flex-direction: column;
    background-image: url("../images/loading.png");
    overflow: hidden;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 50%;
    height: 90vh;
    width: 100px;
    margin: auto;
    transform-origin: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background: #FFFFFF;
}

#mainPage {
    display: none;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#english {
    font-weight: 400;
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 100%;
    color: rgb(142, 142, 142);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 8px;
    left: -8px;
}

.main {
    min-width: 350px;
    margin-top: 5vh;
    background: #FFFFFF

}

#wording {
    display: block;
    background-image: url("../images/wwording.png");
    background-repeat: no-repeat;
    background-size: 200px 74px;
    width: 200px;
    height: 74px;
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.loginWithFaceBook
{
    border-style: solid;
    border-color: #0095F6;
    background-color: #0095f6;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 25px;
    border-radius: 5px;
    top: 10%;
}

.or {
    display:flex;
    justify-content:center;
    align-items: center;
    color:grey;
    width: 275px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
  }
  
  .or:after,
  .or:before {
      content: "";
      display: block;
      background: rgba(142, 142, 142, .5);
      width: 150px;
      height:.5px;
      margin: 0 10px;
  }

.wrapper
{
    top: 50px;
    position: relative
}

input
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #FAFAFA;
    border: rgba(142, 142, 142, .2);
    border-style: solid;
    border-radius: 5px;
    border-width: .5px;
    line-height: 35px;   margin-left: auto;
    margin-right: auto;
    width: 250px;
    padding-left: 12.5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    outline: none;
}

.input-Data
{
    position: relative;
    top: -25px;
}

.input-Data input:valid~div>label
{
    font-size: 9px;
    bottom: 45px;
}

.labelWrapper
{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

label
{
    color: rgb(142, 142, 142);
    font-size: 12px;
    width: 300px;
    position: relative;
    bottom: 32.5px;
    transition: .15s ease-in;
    pointer-events: none;
    padding-left: 5.5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

#lowerInput
{
    position: relative;
    top: -40px;
}

.input-Data div>button
{
    display: none;
}

.input-Data input:valid~div>button
{
    display: flex;
    font-size: 12px;
    outline: none;
    background-color: #FAFAFA;
    border-style: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    position: relative;
    flex-direction: column;
    left: 200px;
    top: -52px;
}

.showpaas
{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 25px;
}

#forgotPassword
{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -35px;
}

#forgotPassword>label
{
    position: relative;
    color: #0F9BF9;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: 10px;
    left: 175px;
}

.logIn
{
    background-color: #B2DFFC;
    width: 265px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: #FFFFFF;
    border-radius: 5px;
    top: -45px;
}

.logIn>button
{
    background-color: transparent;
    outline: none;
    border-style: none;
    width: 265px;
    line-height: 30px;
    color: #FFFFFF;
    font-size: 14px;
    font-style: 'Open Sans', sans-serif;
    font-weight: 700;
}

.logIn>button:active
{
    background-color: #4CB4F8;
}

#mainPage>.input-Data:valid~.logIn
{
    background-color: #0095F6;
}

.dontHaveAnAccount
{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -35px;
    color: rgb(142, 142, 142);
    font-weight: 600;
}

.dontHaveAnAccount>p>button
{
    border-style: none;
    outline-style: none;
    background: #FFFFFF;
    color: #0095F6;
    font-weight: 600;
}

.fromFacebook
{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    position: relative;
    top: -25px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fromFacebook>p
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    position: relative;
    top: 20px;
    color: rgb(142, 142, 142);
    font-size: 10px;
}

#facebook
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    position: relative;
    top: -3px;
    color: black;
    font-size: 12px;
    letter-spacing: 5px;

}